<%- include('./includes/head.ejs') %>

    <h1>¡Bienvenid@ a Gluten Free Love!</h1>
    <main>
    <h3>En los últimos años, el porcentaje de población con enfermedad celiaca o alergia al gluten ha crecido un 2% afectando a una gran cantidad de gente. Las personas con este diagnóstico no pueden consumir productos que usen trigo o cebada, por lo que alimentos "normales" como el pan se tienen que eliminar de la dieta de estas personas. Gluten-Free Love es un negocio familiar que empezó con el objetivo de expandir las opciones de mercado para panes y postres como pasteles y panqués para las personas con este padecimiento, por lo que todos nuestros productos son libres de gluten. Con sólo un mensaje se puede pedir uno de nuestros productos y disfrutar de ellos en poco tiempo.</h3>
    <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="-">
          <span class="card-title">Panqué de Plátano</span>
          <a class="btn-floating halfway-fab waves-effect waves-light blue"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>Uno de los favoritos de nuestros clientes es el versatil panqué de plátano.</p>
          <p>¡Se comer solo o se puede acompañar con muchas cosas como café, leche e incluso Nutella!</p>
          <a target="_blank" href="https://www.instagram.com/glutenfreelove_02/"> INSTAGRAM</a>
        </div>
      </div>
    </div>
  </div>

<%- include('./includes/footer.ejs') %>
