<!-- LAB 12 CON BASE DEL HTML DEL PRIMER LAB-->

<!DOCTYPE html>
<html lang="es-mx">

<!--LAB 3-->
    <head>
        <title>LABORATORIOS SEM 1</title>
        <link href="A01703113_LAB3.css" rel="stylesheet"  type="text/css">
        <style>
            body{
                color:black;
                background-image: url('Wallpaper.png');
            }
        </style>
    </head>

    <body>
        <h1>Sarah Guadalupe Martínez Navarro - A01703113</h1>

        <p id="parrafo1">
        ¡Hola! Soy alumna del Tec de Monterrey Campus Queretaro. Me encanta bailar, leer, 
        y estar con mis amigos. Encontré el gusto de programar cuando iba en la prepa y tuve que
        hacer un programa con Python. No tengo mucha experiencia (conozco un poco de Python, C++, 
        html), pero estoy dispuesta a aprender y trabajar en mejorar.
        </p>

        <p id="parrafo1">
        Mi compromiso con esta clase es estudiar todo lo que pueda para asegurar el conocimiento
        y poder apoyar a mis compañeros. Me comprometo a dar mi 100 para cumplir, e incluso
        exceder las expectativas de los profesores y socioformadores este semestre.
        </p>
