<%- include('includes/head.ejs') %>
    <h1>Bienvenido a este sitio de Panques</h1>
    <main>
        <h2>Aquí se habla se de nuevos Panques</h2>
        <p><%= nombre %>, ingresa los datos del nuevo Panque:</p>
        <form action="/panques/nuevo" method="POST">
            <label for="nombre">Nombre del nuevo Panque:</label>
            <input type="text" name="nombre" required>
            <input type="submit" value="Enviar">
        </form>
        <br><br>
        <a href="/panques/">Regresar a la lista de Panques</a>
    </br>
<%- include('includes/footer.ejs') %>