
<%- include('includes/head.ejs') %>
<h1>Bienvenido a Gluten-Free Love</h1>
<main>
    <h2>Aqui tenemos Panques</h2>
    <p>Ingresa tu Nombre de Usuario y Contraseña:</p>
    <form action="/users/login" method="POST">
        <label for="nombre"> Nombre de Usuario:</label>
        <input type="text" name="nombre" required>
        <label for="passwd"> Contraseña:</label>
        <input type="text" name="passwd" required>
        <input type="submit" value="Enviar">
    </form>
</br><br><br><br>
<%- include('includes/footer.ejs')%>